.flat-page-top {
  margin: 30px 0 0;

  @media (max-width: 1200px) {
    margin: 20px 0 0;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__back {
    flex: 0 0 640px;

    a {
      svg {
        transition: all 0.3s ease;
      }

      &:hover {
        svg {
          transform: translate(-5px, 0);
        }
      }
    }

    @media (max-width: 1200px) {
      flex: 1 1 auto;
    }
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;

    span {
      display: inline-flex;

      &::before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background-image: url(../img/parameters/arrow.svg);
        background-position: center;
        background-size: 100%;
        margin: 0 6px;
      }

      @media (max-width: 767px) {
        a {
          display: none;
        }
        &::after {
          content: '...';
        }
      }
    }

    a {
      display: inline-flex;
      align-items: center;
      color: #969696;
      font-family: TT Norms;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;

      &::before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background-image: url(../img/parameters/arrow.svg);
        background-position: center;
        background-size: 100%;
        margin: 0 6px;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }

      &:last-child {
        color: #131411;
      }
    }
  }
}
