.parameters-content {
  margin: 66px 0 0;

  @media (max-width: 767px) {
    margin: 30px 0 0;
  }

  &-sort {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 767px) {
      justify-content: unset;
    }

    @media (max-width: 350px) {
      overflow-x: auto;
    }

    label {
      &:not(:first-child) {
        margin: 0 0 0 12px;
      }

      input {
        display: none;

        &:checked + span {
          background: #131411;
          color: #fff;

          svg {
            transform: scale(1, -1);
            path {
              stroke: #fff;
            }
          }
        }
      }

      span {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        padding: 0 4px;

        color: #131411;
        font-family: TT Norms;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        transition: all 0.4s ease;

        @media (max-width: 767px) {
          font-size: 12px;
          padding: 0 8px 0 4px;

          line-height: 18px;
        }

        svg {
          flex: 0 0 auto;
          width: 20px;
          height: 20px;
          margin: 0 4px 0 0;
          transition: all 0.4s ease;

          path {
            stroke: #131411;
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
  &-body {
    margin: 40px 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    @media (max-width: 767px) {
      margin: 30px 0 0;
    }

    &__card {
      display: flex;
      flex-direction: column;
      background: #fff;
      width: calc(25% - 18px);
      flex: 0 0 calc(25% - 18px);

      @media (max-width: 1200px) {
        width: calc(50% - 12px);
        flex: 0 0 calc(50% - 12px);
      }

      @media (max-width: 767px) {
        width: 100%;
        flex: 1 1 100%;
      }

      &-img {
        flex: 0 0 auto;
        padding: 24px;
        height: 306px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 20px 20px;
      }
      &-info {
        padding: 20px 0 0;
        width: 100%;
        display: flex;
        border-top: 1px solid rgba($color: #131411, $alpha: 0.1);

        span {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 26px;
          flex: 1 1 auto;
          padding: 0 4px;
          background: #f6f6f6;

          color: #131411;
          text-align: center;
          font-family: TT Norms;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px;
          white-space: nowrap;

          @media (max-width: 767px) {
            padding: 0 8px;
          }

          &:not(:first-child) {
            margin: 0 0 0 12px;
          }
        }
      }
      &-street {
        margin: 20px 0 0;
        color: #888;
        font-feature-settings: 'calt' off;
        font-family: TT Norms;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
      &-type {
        margin: 4px 0 0;
        color: #131411;
        font-family: TT Norms;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
      }
      &-price {
        margin: 4px 0 0;
        color: #131411;
        font-feature-settings: 'calt' off;
        font-family: TT Norms;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
      &-btn {
        margin: 20px 0;
      }
      &-params {
        margin: 0;
        padding: 20px 0 0;
        position: relative;

        border-top: 1px solid rgba($color: #131411, $alpha: 0.1);

        &-wrap {
          display: flex;
          overflow: hidden;
        }

        &._empty {
          margin: auto 0 0;
          padding: 0;
        }

        ._more {
          display: none;
          position: absolute;
          z-index: 1;
          right: 0;
          bottom: 0;

          span {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 26px;
            height: 26px;
            background: #131411;

            color: #fff;
            text-align: center;
            font-family: TT Norms;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: 0;
            width: 84px;
            height: 100%;
            background: linear-gradient(
              270deg,
              #fff 0%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }
        ._item {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 26px;
          // flex: 1 1 auto;
          padding: 0 4px;
          background: #f6f6f6;

          color: #131411;
          text-align: center;
          font-family: TT Norms;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px;
          white-space: nowrap;

          &:not(:first-child) {
            margin: 0 0 0 12px;
          }
        }

        &_more {
          ._more {
            display: block;
          }

          &:hover {
            ._dropdown {
              opacity: 1;
            }
          }
        }

        ._dropdown {
          position: absolute;
          width: 306px;
          right: -17px;
          top: calc(100% + 15px);
          padding: 16px;

          color: #131411;
          font-family: TT Norms;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;

          border: 1px solid #000;
          background-color: #fff;

          pointer-events: none;
          opacity: 0;
          transition: all 0.3s ease;

          @media (max-width: 340px) {
            width: 280px;
          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            right: 20px;
            top: -8px;
            border-bottom: 8px solid #000;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            transform: translate(1px, 0);
          }

          &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            right: 20px;
            top: -6px;
            border-bottom: 7px solid #fff;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
          }
        }
      }
    }
  }

  &-pagination {
    margin: 46px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      margin: 40px 0 0;
    }

    &__arrow {
      cursor: pointer;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #ffffff;

      transition: all 0.3s ease;

      svg {
        path {
          transition: all 0.3s ease;
        }
      }

      &:hover {
        background-color: #131411;

        svg {
          path {
            stroke: #ffffff;
          }
        }
      }

      @media (max-width: 767px) {
        width: 36px;
        height: 36px;

        svg {
          width: 15px;
          height: 15px;
        }
      }

      &:last-child {
        svg {
          transform: scale(-1, 1);
        }
      }
    }

    &__nums {
      margin: 0 25px;

      @media (max-width: 767px) {
        margin: 0 14px;
        width: 100%;
        max-width: 210px;
        display: flex;
        justify-content: space-between;
      }

      span,
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #131411;
        text-align: center;
        font-family: TT Norms;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.36px;
        min-width: 32px;
        height: 32px;

        @media (max-width: 767px) {
          &._desctop-only {
            display: none;
          }
        }

        &:not(:first-child) {
          margin: 0 0 0 14px;

          @media (max-width: 767px) {
            margin: 0;
          }
        }

        &._active {
          background: #131411;
          color: #fff;
        }
      }
    }
  }
}
