.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  padding: 12px 24px;

  font-family: 'TT Norms';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;

  transition: all 0.3s ease;

  &:hover {
    background: #cccccc;
  }

  @media (max-width: 1200px) {
    padding: 8px 13px;

    font-size: 12px;
    line-height: 20px;
  }

  &_dark {
    background: #131411;
    color: #f6f6f6;

    &:hover {
      background: #5c5c5c;
    }
  }

  &_arrow {
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    color: #131411;
    font-family: Cormorant Unicase;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
      span {
        svg {
          transform: translate(14px, -50%);
        }
      }
    }

    ._arrow {
      flex: 0 0 auto;
      position: relative;
      width: 54px;
      height: 54px;
      border: 1px solid #e2e1e1;
      border-radius: 50%;
      margin: 0 0 0 30px;

      svg {
        position: absolute;
        top: 50%;
        left: -14px;
        transform: translate(0, -50%);
        transition: all 0.4s ease;
      }
    }
  }

  &_border {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    padding: 0 24px;

    border: 1px solid #131411;
    background: #fff;

    color: #131411;
    font-family: TT Norms;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;

    transition: all 0.3s ease;

    &:hover {
      background: #131411;
      color: #fff;
    }
  }
}

.title {
  font-family: 'Cormorant Unicase';
  font-weight: 300;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #131411;

  @media (max-width: 767px) {
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 36px;

    br {
      display: none;
    }
  }
}

.text {
  color: #131411;
  font-family: TT Norms;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 26px;
  }

  span {
    font-weight: 500;
  }
}

.section-devider {
  margin: 120px 0 90px;
  width: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 1200px) {
    margin: 100px 0 90px;
  }
  @media (max-width: 767px) {
    margin: 100px 0 65px;
  }

  img {
    margin: 0 24px;
    transform: translate(0, -4px);

    @media (max-width: 767px) {
      margin: 0 20px;
      height: 12px;
      transform: translate(0, -2px);
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    flex: 1 1 auto;
    height: 1px;
    background-color: #d8d8d8;
  }
}

select {
  -webkit-appearance: none;
}
