<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">

  <!-- ios fix -->
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <title>@@title</title>


  <script defer src="https://unpkg.com/img-comparison-slider@7/dist/index.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/img-comparison-slider@7/dist/styles.css" />
</head>