.building {
  margin: 50px 0 120px;
  scroll-margin-top: 100px;

  .container {
    @media (max-width: 1368px) {
      overflow-x: scroll;
      padding: 0 0 35px;
      &::-webkit-scrollbar {
        height: 3px;
        background: #ffffff;
      }

      &::-webkit-scrollbar-track {
      }

      &::-webkit-scrollbar-thumb {
        background-color: #e9e9e9;
        border-radius: 20px;
      }
    }
  }

  &-tooltip {
    position: absolute;
    z-index: 1;

    &:nth-child(1) {
      top: 120px;
      left: 82px;
    }
    &:nth-child(2) {
      top: 298px;
      left: 342px;
    }
    &:nth-child(3) {
      top: 440px;
      left: 380px;
    }
    &:nth-child(4) {
      top: 240px;
      left: 660px;
    }
    &:nth-child(5) {
      top: 160px;
      left: 850px;
    }
    &:nth-child(6) {
      top: 538px;
      left: 1014px;

      @media (max-width: 767px) {
        top: 420px;
        left: 964px;
      }

      .building-tooltip__content {
        left: auto;
        right: 22px;
        top: auto;
        bottom: 22px;
        transform: translate(50%, 50%) scale(0);
      }
    }
    &:nth-child(7) {
      top: 432px;
      left: 1080px;

      @media (max-width: 767px) {
        top: 352px;
        left: 980px;
      }

      .building-tooltip__content {
        left: auto;
        right: 22px;
        transform: translate(50%, -50%) scale(0);
      }
    }

    &._active {
      .building-tooltip {
        &__btn {
          background-color: #131411;

          svg {
            transform: rotate(45deg);
            path {
              fill: #ffffff;
            }
          }
        }
        &__content {
          pointer-events: unset;
          visibility: visible;
          opacity: 1;
          transform: translate(0) scale(1);
        }
      }
    }

    @media (min-width: 991px) {
      &:hover {
        .building-tooltip {
          &__btn {
            background-color: #131411;

            svg {
              transform: rotate(45deg);
              path {
                fill: #ffffff;
              }
            }
          }
          &__content {
            pointer-events: unset;
            visibility: visible;
            opacity: 1;
            transform: translate(0) scale(1);
          }
        }
      }
    }

    &__btn {
      position: relative;
      z-index: 1;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #131411;

      transition: all 0.4s ease;

      &:hover {
        background-color: #dadada;

        svg {
          transform: rotate(20deg);
        }
      }

      svg {
        pointer-events: none;
        transition: all 0.4s ease;

        path {
          transition: all 0.4s ease;
        }
      }
    }

    &__content {
      width: 298px;
      position: absolute;
      z-index: -1;
      top: 22px;
      left: 22px;
      border: 1px solid #000;
      background: #fff;
      padding: 16px 20px;

      transition: all 0.4s ease;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);

      &-title {
        color: #131411;
        font-family: TT Norms;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
      }

      &-text {
        margin: 16px 0 0;
        color: #565656;
        font-family: TT Norms;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

  &-body {
    width: 1296px;
    position: relative;

    @media (max-width: 767px) {
      width: 1080px;
    }

    &__img {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      position: absolute;

      &_first {
        left: 0;
        bottom: 66px;

        @media (max-width: 767px) {
          bottom: 30px;
        }
      }

      &_second {
        right: 30px;
        bottom: 5px;

        @media (max-width: 767px) {
          bottom: 40px;
        }
      }

      &-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 52.5px;
        background: #fff;

        @media (max-width: 767px) {
          padding: 7px;

          ._arrow {
            width: 40px;
            height: 40px;
            margin: 0 0 0 20px;

            svg {
              width: 33px;
              left: -10px;
            }
          }
        }

        &:not(:first-child) {
          margin: 0 0 0 28px;
        }
      }

      &-value {
        width: 44px;
        height: 44px;
        border: 1px solid #131411;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;

        color: #131411;
        text-align: center;
        font-family: Cormorant Unicase;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;

        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
          font-size: 10px;
          line-height: 15px;
        }
      }

      &-text {
        margin: 0 0 0 12px;

        color: #131411;
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}
