.callback {
  margin: 120px 0 0;

  .container {
    max-width: 1400px;
  }

  &_parameters {
    .callback-body {
      border-bottom: none;
      padding: 82px 0 0;

      @media (max-width: 1200px) {
        padding: 60px 0 0;
      }
      @media (max-width: 767px) {
        padding: 54px 0 0;
      }
    }

    .callback-body__btn {
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;

        ._arrow {
          margin: 16px 0 0 14px;
        }
      }

      br {
        display: none;

        @media (max-width: 1200px) {
          display: block;
        }
      }
    }
  }

  &_parameters-item {
    .callback-body {
      border-bottom: none;
      padding: 82px 0 0;

      @media (max-width: 1200px) {
        padding: 60px 0 0;
      }
      @media (max-width: 767px) {
        padding: 54px 0 0;
      }
    }
  }

  &-body {
    display: flex;

    justify-content: center;
    padding: 82px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;

    @media (max-width: 1200px) {
      padding: 60px 0;
    }

    @media (max-width: 767px) {
      padding: 54px 0;
    }

    @media (max-width: 540px) {
      justify-content: flex-start;
    }

    &__btn {
      display: flex;
      align-items: center;
      color: #131411;
      font-family: Cormorant Unicase;
      font-size: 52px;
      font-style: normal;
      font-weight: 300;
      line-height: 60px;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1px;
      }

      br {
        display: none;
        @media (max-width: 540px) {
          display: block;
        }
      }

      span {
        margin: 0 0 0 40px;
      }
    }
  }

  &_choose {
    br {
      display: none;
      @media (max-width: 991px) {
        display: block;
      }
    }

    .callback-body__btn {
      @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;

        ._arrow {
          margin: 18px 0 0 14px;
        }
      }
    }
  }

  &_future {
    .callback-body {
      border-bottom: none;
      padding-bottom: 0;

      @media (max-width: 991px) {
        br {
          display: block;
        }
      }
    }

    .callback-body__btn {
      @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;

        ._arrow {
          margin: 18px 0 0 14px;
        }
      }
    }
  }
}
