.layouts {
  margin: 100px 0 0;

  &-content {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;

    padding: 80px 0 135px;

    @media (max-width: 1200px) {
      padding: 50px 0 80px;
    }
    @media (max-width: 767px) {
      padding: 40px 0 50px;
    }
  }

  &-text {
    text-align: center;

    br {
      &._mobile {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      max-width: 624px;
      margin: 0 auto;

      br {
        display: none;

        &._mobile {
          display: block;
        }
      }
    }

    @media (max-width: 500px) {
      br {
        display: none !important;
      }
    }

    span {
      display: block;
    }
  }
  &-body {
    margin: 74px 0 0;
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
      margin: 50px 0 0;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      &:not(:first-child) {
        position: relative;
        padding: 0 0 0 84px;
        margin: 0 0 0 84px;

        @media (max-width: 1200px) {
          padding: 0 0 0 44px;
          margin: 0 0 0 44px;
        }

        @media (max-width: 767px) {
          padding: 28px 0 0;
          margin: 28px 0 0;
        }

        &::before {
          content: '';
          width: 2px;
          height: 80px;
          background: #d9d9d9;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);

          @media (max-width: 1200px) {
            width: 1px;
          }

          @media (max-width: 767px) {
            width: 60px;
            height: 1px;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
          }
        }
      }

      @media (max-width: 700px) {
        flex: 1 1 100%;
        justify-content: flex-start !important;
        margin: 0 !important;

        &:not(:first-child) {
          margin: 32px 0 0 !important;
        }
      }

      &:nth-child(1) {
      }
      &:nth-child(2) {
      }
      &:nth-child(3) {
      }

      img {
        &:nth-child(1) {
          @media (max-width: 1200px) {
            height: 132px;
          }
          @media (max-width: 700px) {
            height: 112px;
          }
        }
      }
    }
  }
}
