.lobby {
  position: relative;
  z-index: 1;
  flex: 0 0 100%;
  display: flex;
  height: 100vh;
  scroll-margin-top: 100px;

  @media (max-width: 1200px) {
    height: auto;
    flex-direction: column;
  }

  &__img {
    position: relative;

    @media (max-width: 1200px) {
      margin: 60px 0 0;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @media (max-width: 767px) {
      margin: 40px 0 0;
    }

    @media (min-width: 1201px) {
      flex: 0 0 calc(((100vw - 72px) * 0.56) + 36px);
      transform: translate(-100%, 0);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }

    @media (min-width: 1368px) {
      flex: 0 0 calc(50vw - (0.44 - 0.5) * (1368px - 72px));
    }

    &-circle {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      @media (max-width: 767px) {
        height: 250px;
        left: -40px;
        transform: translate(-30px, 0);
      }
    }
  }
  &-content {
    flex: 0 0 100%;

    @media (max-width: 1200px) {
      flex: 1 1 auto;
    }
  }
  .container {
    height: 100%;
  }
  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 80px 110px 70px 0;

    @media (max-width: 1200px) {
      width: 100%;
      padding: 0;
    }

    &__num {
      position: absolute;
      z-index: -1;
      top: 110px;
      left: 0;

      @media (max-width: 1200px) {
        top: 20px;
      }
      @media (max-width: 767px) {
        top: 34px;
        width: 320px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &__title {
      @media (max-width: 767px) {
        br {
          display: block;
        }
      }
    }

    &__text {
      margin: auto 0 0;
      max-width: 440px;

      @media (max-width: 1200px) {
        margin: 280px 0 0;
        max-width: 700px;
      }

      @media (max-width: 767px) {
        margin: 245px 0 0;
      }

      p {
        &:not(:first-child) {
          margin: 40px 0 0;

          @media (max-width: 1200px) {
            margin: 24px 0 0;
          }
          @media (max-width: 767px) {
            margin: 16px 0 0;
          }
        }
      }
    }
  }

  &_second {
    @media (max-width: 1200px) {
      flex-direction: column-reverse;
    }
  }
}

.feel {
  flex: 0 0 100%;
  height: 100vh;

  @media (max-width: 1200px) {
    height: auto;
  }

  .container {
    height: 100%;

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &-body {
    height: 100%;
    display: flex;
    position: relative;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      width: 976px;
      height: 976px;
      border: 2px solid #fff;
      border-radius: 50%;
      top: -395px;
      right: -150px;

      @media (max-width: 1200px) {
        top: 24px;
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);
      }
      @media (max-width: 767px) {
        display: none;
      }
    }

    &__a {
      position: absolute;
      top: -180px;
      left: -200px;
      pointer-events: none;

      @media (max-width: 1200px) {
        width: 455px;
        left: auto;
        top: -90px;
        right: -78px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      @media (max-width: 767px) {
        width: 370px;
        top: 64px;
        right: -90px;
      }
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0 70px;

    @media (max-width: 767px) {
      padding: 40px 20px 0;
    }

    &__title {
      font-size: 40px;
      line-height: 48px;

      @media (max-width: 1200px) {
        max-width: 600px;

        br {
          display: none;
        }
      }

      @media (max-width: 767px) {
        font-size: 32px;
        line-height: 36px;
      }
    }

    &__item {
      max-width: 446px;

      @media (max-width: 1200px) {
        margin: 40px 0 0;
        max-width: 570px;
      }
    }
  }
  &-content {
    display: flex;
    margin: 0 0 0 auto;

    @media (max-width: 1200px) {
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      margin: 52px 0 0;
      padding: 0 20px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        height: 3px;
        background: #ffffff;
      }

      &::-webkit-scrollbar-track {
      }

      &::-webkit-scrollbar-thumb {
        background-color: #e9e9e9;
        border-radius: 20px;
      }
    }
  }
  &-col {
    display: flex;
    flex-direction: column;

    &__lamp {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        transform: translate(-14px, 0);
      }

      &-text {
        position: relative;
        margin: 62px 0 0;
        color: #131411;
        text-align: center;
        font-family: Cormorant Unicase;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;

        &::before {
          content: '';
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          bottom: calc(100% + 10px);
          display: block;
          width: 6px;
          height: 100px;
          background-image: url(../img/lobby/feel/to.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: top;
        }
      }
    }

    &__texture {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin: auto 0 24px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 8px;
        right: 102px;
        transform: rotate(90deg);
        display: block;
        width: 6px;
        height: 100px;
        background-image: url(../img/lobby/feel/to.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
      }

      &-text {
        color: #131411;
        text-align: center;
        font-family: Cormorant Unicase;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0 56px 0 0;
      }
    }

    &__textures {
      padding: 90px 0 0;

      &-title {
        color: #131411;
        text-align: center;
        font-family: Cormorant Unicase;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &-list {
        margin: 50px 0 0;
        display: flex;
      }

      &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
          content: '';
          position: absolute;
          top: -38px;
          left: 50%;
          transform: translate(-50%, 0) scale(1, -1);
          display: block;
          width: 6px;
          height: 100px;
          background-image: url(../img/lobby/feel/to.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: top;
        }

        span {
          color: #969696;
          text-align: center;
          font-family: Cormorant Unicase;
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: -10px 0 0;
        }
      }
    }

    &__fish {
      margin: auto 0 0;
    }
  }
}

.eq-gsap-row {
  margin: 100px 0 0;
  display: flex;

  @media (max-width: 1200px) {
    margin: 120px 0 0;
    height: auto;
    display: block;
  }
  @media (max-width: 767px) {
    margin: 90px 0 0;
  }

  &-2 {
    display: flex;
    margin: 66px 0 0;

    @media (max-width: 1200px) {
      margin: 120px 0 0;
      height: auto;
      display: block;
    }
    @media (max-width: 767px) {
      margin: 90px 0 0;
    }

    .lobby__img {
      @media (min-width: 1200px) {
        flex: 0 0 calc(((100vw - 72px) * 0.52) + 36px);
        transform: translate(0);
      }

      &-circle {
        bottom: auto;
        top: 0;
      }
    }

    .lobby-body {
      padding: 56px 0 20px;
      margin: 0 0 0 auto;
      width: calc(50% - 86px);

      @media (max-width: 1200px) {
        width: 100%;
        padding: 0;
      }
    }
    .lobby-content {
      transform: translate(-50%, 0);
      @media (max-width: 1200px) {
        transform: translate(0);
      }
    }
  }
}

.materials {
  flex: 0 0 100%;
  height: 100vh;
  position: relative;

  @media (max-width: 1200px) {
    height: auto;
  }

  .container {
    height: 100%;

    @media (max-width: 1200px) {
      padding: 0;
      height: auto;
    }
  }

  &__wood {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;

    @media (max-width: 1630px) {
      right: -180px;
    }

    @media (max-width: 1200px) {
      display: none;
    }

    img {
      &:nth-child(2) {
        display: none;
      }

      @media (max-width: 1200px) {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }
  &-body {
    display: flex;
    position: relative;
    height: 100%;

    @media (max-width: 1200px) {
      flex-direction: column;
      display: block;
      height: auto;
    }

    &__a {
      pointer-events: none;
      position: absolute;
      bottom: 100px;
      right: -200px;

      @media (max-width: 1630px) {
        right: -100px;
      }

      @media (max-width: 1200px) {
        width: 455px;
        bottom: auto;
        top: -90px;
        right: -80px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      @media (max-width: 767px) {
        width: 370px;
        top: 70px;
        right: -90px;
      }
    }

    &__wrapper {
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;

        width: 976px;
        height: 976px;
        border: 2px solid #fff;
        border-radius: 50%;
        top: -395px;
        right: -150px;
        display: none;

        @media (max-width: 1200px) {
          display: block;
          top: 30px;
          left: 50%;
          right: auto;
          transform: translate(-50%, 0);
        }
        @media (max-width: 767px) {
          display: none;
        }
      }

      @media (max-width: 1200px) {
        margin: 86px 0 0;
        height: auto;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          height: 3px;
          background: #ffffff;
        }

        &::-webkit-scrollbar-track {
        }

        &::-webkit-scrollbar-thumb {
          background-color: #e9e9e9;
          border-radius: 20px;
        }
      }

      @media (max-width: 767px) {
        margin: 72px 0 0;
      }
    }

    &__content {
      position: relative;
      width: 100%;
      height: 100%;

      @media (max-width: 1200px) {
        padding: 0 200px 0 0;
      }

      @media (max-width: 767px) {
        padding: 0 140px 0 0;
      }

      &-a {
        display: none;

        @media (max-width: 1200px) {
          position: absolute;
          right: 60px;
          top: 40px;
          display: block;
          width: 552px;
          height: 680px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        @media (max-width: 767px) {
          width: 384px;
          height: 472px;
        }
      }

      .materials__wood {
        display: none;

        @media (max-width: 767px) {
          width: 465px;
          height: 338px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      @media (max-width: 1200px) {
        width: 1215px;
        height: 1020px;

        .materials__wood {
          right: 0;
          display: block;
        }
      }

      @media (max-width: 767px) {
        width: 844px;
        height: 708px;
      }
    }
  }
  &-text {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 90px 0 80px;

    @media (max-width: 1200px) {
      padding: 80px 0 0 70px;
    }
    @media (max-width: 767px) {
      padding: 40px 20px 0;
    }

    &__title {
      font-size: 40px;
      line-height: 48px;

      @media (max-width: 1200px) {
        max-width: 600px;
        br {
          display: none;
        }
      }
      @media (max-width: 767px) {
        font-size: 32px;
        line-height: 36px;

        br {
          &._mobile {
            display: block;
          }
        }
      }
    }

    &__item {
      margin: auto 0 0;
      max-width: 390px;

      @media (max-width: 1200px) {
        margin: 40px 0 0;
        max-width: 570px;
      }
    }
  }
  &-luster {
    position: absolute;
    top: 0;
    left: 28%;
    transform: translate(-50%, 0);

    @media (max-width: 1360px) {
      left: 20%;
    }

    @media (max-width: 1200px) {
      left: 180px;
      transform: translate(0);
    }

    @media (max-width: 767px) {
      left: 120px;
      img {
        width: 280px;
        height: auto;
        object-fit: contain;
      }
    }

    img {
      &:nth-of-type(2) {
        display: none;
      }

      @media (max-width: 1200px) {
        &:nth-of-type(1) {
          display: none;
        }
        &:nth-of-type(2) {
          display: block;
        }
      }
    }

    &__text {
      color: #131411;
      text-align: center;
      font-family: Cormorant Unicase;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;

      position: absolute;
      bottom: 115px;
      right: 100%;
      width: 162px;

      @media (max-width: 767px) {
        width: 114px;
        font-size: 8.326px;
        line-height: 11.101px;
        letter-spacing: 0.694px;
        right: calc(100% + 2px);
        bottom: 80px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -26px;
        right: -54px;
        transform: rotate(90deg);
        display: block;
        width: 6px;
        height: 100px;
        background-image: url(../img/lobby/feel/to.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;

        @media (max-width: 767px) {
          height: 70px;

          top: -20px;
          right: -40px;
        }
      }
    }
  }
  &-materials {
    position: absolute;
    right: 0;
    bottom: 0;

    &__item {
      display: flex;
      align-items: center;
      position: relative;

      img {
        @media (max-width: 767px) {
          width: 83px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -38px;
        left: 50%;
        transform: translate(-50%, 0) scale(1, -1);
        display: block;
        width: 6px;
        height: 100px;
        background-image: url(../img/lobby/feel/to.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;

        @media (max-width: 767px) {
          height: 70px;
        }
      }

      &:nth-child(1) {
        position: absolute;
        right: 450px;
        bottom: 10px;

        @media (max-width: 1200px) {
          right: 650px;
          bottom: 200px;
        }

        @media (max-width: 767px) {
          right: 460px;
          bottom: 140px;

          img {
            width: 83px;
          }
        }

        &::before {
          transform: translate(0) scale(1) rotate(90deg);
          top: 10px;
          right: 105px;
          left: auto;

          @media (max-width: 767px) {
            top: 5px;
            right: 72px;
          }
        }
      }
      &:nth-child(2) {
        position: absolute;
        right: 450px;
        bottom: 120px;

        @media (max-width: 1200px) {
          right: 650px;
          bottom: 320px;
        }

        @media (max-width: 767px) {
          right: 460px;
          bottom: 220px;
        }

        span {
          width: 174px;
          margin: 0 40px 0 0;

          @media (max-width: 767px) {
            margin: 0 25px 0 0;
            width: 120px;
          }
        }

        &::before {
          transform: translate(0) scale(1) rotate(90deg);
          top: 10px;
          right: 105px;
          left: auto;

          @media (max-width: 767px) {
            top: 5px;
            right: 72px;
          }
        }
      }
      &:nth-child(3) {
        flex-direction: column;
        position: absolute;
        right: 310px;
        bottom: 250px;

        @media (max-width: 1200px) {
          right: 470px;
          bottom: 460px;
        }

        @media (max-width: 767px) {
          right: 340px;
          bottom: 320px;
        }

        span {
          width: 174px;
          margin: 0 0 40px;

          @media (max-width: 767px) {
            width: 105px;
            margin: 0 0 30px;
          }
        }

        &::before {
          transform: translate(0) scale(1, -1) rotate(0);
          top: 54px;
          right: 84px;
          left: auto;

          @media (max-width: 767px) {
            top: 40px;
            right: 50px;
          }
        }
      }
      &:nth-child(4) {
        flex-direction: column;
        position: absolute;
        right: 160px;
        bottom: 350px;

        @media (max-width: 1200px) {
          right: 300px;
          bottom: 560px;
        }

        @media (max-width: 767px) {
          right: 200px;
          bottom: 390px;
        }

        span {
          width: 200px;
          margin: 0 0 40px;

          @media (max-width: 767px) {
            width: 140px;
            margin: 0 0 35px;
          }
        }

        &::before {
          transform: translate(0) scale(1, -1) rotate(0);
          top: 54px;
          right: 100px;
          left: auto;

          @media (max-width: 767px) {
            top: 40px;
            right: 68px;
          }
        }
      }
      &:nth-child(5) {
        flex-direction: column;
        position: absolute;
        right: 0px;
        bottom: 450px;

        @media (max-width: 1200px) {
          right: 130px;
          bottom: 640px;
        }

        @media (max-width: 767px) {
          right: 104px;
          bottom: 440px;
        }

        span {
          width: 200px;
          margin: 0 0 40px;

          @media (max-width: 767px) {
            width: 94px;
            margin: 0 0 35px;
          }
        }

        &::before {
          transform: translate(0) scale(1, -1) rotate(0);
          top: 54px;
          right: 100px;
          left: auto;

          @media (max-width: 767px) {
            right: 45px;
            top: 44px;
          }
        }
      }

      span {
        display: flex;
        justify-content: center;
        color: #131411;
        text-align: center;
        font-family: Cormorant Unicase;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0 50px 0 0;

        @media (max-width: 767px) {
          font-size: 8.326px;
          line-height: 11.101px;
          letter-spacing: 0.694px;
          margin: 0 35px 0 0;
        }
      }
    }
  }
}
