.progress {
  position: relative;
  padding: 0 0 165px;

  @media (max-width: 1200px) {
    padding: 0 0 60px;
  }

  @media (max-width: 767px) {
    padding: 0 0 100px;
  }

  &_page {
    padding: 60px 0 80px;

    @media (max-width: 1200px) {
      padding: 40px 0 0;
    }

    .progress__text {
      bottom: -145px;

      @media (max-width: 1200px) {
        bottom: -100px;
      }
    }
  }

  &__text {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1664px;
    pointer-events: none;

    @media (max-width: 1200px) {
      width: 836px;
      bottom: -40px;
    }

    @media (max-width: 767px) {
      width: 375px;
      bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    display: none !important;
    margin: 48px auto 0 !important;
    justify-content: center;

    @media (max-width: 767px) {
      display: flex !important;
    }
  }

  &-top {
    display: flex;
    align-items: center;

    &__title {
      color: #131411;
      font-family: Cormorant Unicase;
      font-size: 52px;
      font-weight: 300;
      line-height: 60px;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1px;
      }
    }

    &__nav {
      display: flex;
      margin: 0 0 0 auto;

      @media (max-width: 767px) {
        display: none;
      }

      span {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid #131411;
        border-radius: 50%;
        transition: all 0.3s ease;

        &:not(:first-child) {
          margin: 0 0 0 16px;
        }

        &:nth-child(2) {
          svg {
            transform: scale(-1, 1);
          }
        }

        &:hover {
          background: #cdcdcd;
        }
      }
    }
  }
  &-body {
    margin: 60px 0 0;

    .swiper-slide {
      @media (min-width: 768px) {
        width: 440px;
      }
    }

    &__item {
      overflow: hidden;
      display: block;
      position: relative;

      @media (min-width: 768px) {
        width: 440px;
        height: 440px;
      }
      @media (max-width: 767px) {
        padding: 0 0 100%;
      }

      &:hover {
        .progress-item__info-arrow {
          svg {
            transform: translate(14px, -50%);

            @media (max-width: 767px) {
              transform: translate(10px, -50%);
            }
          }
        }
        .progress-body__item-img {
          img {
            transform: scale(1.1);
          }
        }
      }

      &._soon {
        border: 1px solid #969696;
        background: #f6f6f6;

        .progress-item__info {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &-title {
            color: #969696;
            text-align: center;
          }
          &-date {
            margin: 10px 0 0;
            color: #969696;
            text-align: center;
          }
        }
      }

      &-img {
        @media (max-width: 767px) {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.4s ease;
        }
      }

      &-top {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) {
          padding: 20px;
        }
      }
    }
  }
  &-item {
    &__info {
      &-title {
        color: #fff;
        font-family: Cormorant Unicase;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1px;
        text-transform: uppercase;

        @media (max-width: 767px) {
          font-size: 28px;
          line-height: 36px;
        }
      }
      &-date {
        color: #fff;
        font-family: TT Norms;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        text-transform: uppercase;

        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
      &-arrow {
        position: relative;

        svg {
          position: absolute;
          top: 50%;
          left: -14px;
          transform: translate(0, -50%);
          transition: all 0.4s ease;

          @media (max-width: 767px) {
            width: 32px;
            left: -10px;
          }
        }

        &::before {
          content: '';
          width: 54px;
          height: 54px;
          display: block;
          border-radius: 50%;
          border: 1px solid #e2e1e1;

          @media (max-width: 767px) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.progress_item {
  position: relative;

  &-body {
    position: relative;
    margin: 33px 0 0;
    padding: 33px 0 0;
    overflow: hidden;
    border-top: 1px solid #d8d8d8;

    @media (max-width: 1200px) {
      margin: 20px 0 0;
      padding: 20px 0 0;
    }

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-nav {
      cursor: pointer;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translate(0, -50%);
      background-color: #f6f6f6;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 44px;
      height: 44px;

      transition: all 0.3s ease;

      &:hover {
        background-color: #cdcdcd;
      }

      &.swiper-button-disabled {
        display: none;
        cursor: unset;
        background-color: #f6f6f6;
      }

      @media (max-width: 767px) {
        width: 36px;
        height: 36px;

        svg {
          flex: 0 0 auto;
          width: 15px;
          height: 15px;
        }
      }

      &_prev {
        left: 20px;
      }
      &_next {
        right: 20px;

        svg {
          transform: scale(-1, 1);
        }
      }
    }
  }
}
