.two {
  margin: 92px 0 0;
  scroll-margin-top: 100px;

  @media (max-width: 1200px) {
    margin: 60px 0 0;
  }

  @media (max-width: 767px) {
    .container {
      padding: 0;
    }
  }

  &-body {
    display: flex;

    @media (max-width: 1100px) {
      flex-direction: column;
    }

    &__text {
      padding: 20px 0 0;
      max-width: 636px;

      @media (max-width: 1100px) {
        padding: 0;
      }

      @media (max-width: 767px) {
        padding: 0 20px;
      }

      &-title {
      }

      &-descr {
        margin: 50px 0 0;
        color: #565656;

        @media (max-width: 1100px) {
          margin: 40px 0 0;
        }
      }

      &-date {
        margin: 68px 0 0;
        color: #131411;
        font-family: TT Norms;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        @media (max-width: 1100px) {
          margin: 60px 0 0;
        }
        @media (max-width: 767px) {
          margin: 44px 0 0;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &__img {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: flex-start;
      margin: 0 -10px 0 24px;

      @media (max-width: 1100px) {
        margin: -60px 0 0 auto;
      }

      @media (max-width: 767px) {
        margin: -22px 0 0;
      }

      &::before {
        content: '';
        display: block;
        width: 785px;
        height: 785px;
        border: 2px solid #fff;
        position: absolute;
        z-index: -1;
        top: -120px;
        right: -94px;
        // transform: translate(-50%, -50%);
        border-radius: 50%;

        @media (max-width: 1100px) {
          width: 680px;
          height: 680px;
          top: -208px;
          right: -126px;
        }
        @media (max-width: 767px) {
          width: 498px;
          height: 498px;
          top: -104px;
          right: -138px;
        }
      }

      &-item {
        display: flex;
        justify-content: flex-end;
        flex: 0 0 auto;
        overflow: hidden;
        width: 306px;

        @media (max-width: 1200px) {
          width: 240px;
        }

        @media (max-width: 767px) {
          width: calc(50% - 8px);
          flex: 0 0 calc(50% - 8px);
        }

        &:nth-child(1) {
          margin: 0 0 auto;

          @media (max-width: 767px) {
            margin: 62px 0 0;
          }
        }
        &:nth-child(2) {
          margin: 70px 0 0 30px;

          @media (max-width: 1100px) {
            margin: 54px 0 0 36px;
          }

          @media (max-width: 767px) {
            margin: 0 0 0 16px;
          }
        }

        &-wrapper {
          width: 0;
          overflow: hidden;
          transition: width 1s ease;
        }
      }

      img {
        height: 100%;
        object-fit: contain;
        height: auto;

        width: 306px;

        @media (max-width: 1200px) {
          width: 240px;
        }

        @media (max-width: 767px) {
          width: calc(50vw - 8px);
          flex: 0 0 calc(50vw - 8px);
        }
      }
    }
  }
}
