.yards {
  margin: 80px 0 0;

  @media (max-width: 1100px) {
    margin: 60px 0 0;
  }

  .container {
    max-width: 1368px;
  }

  &__title {
    ._mobile {
      display: none;

      @media (max-width: 1100px) {
        display: block;
      }
    }
  }
  &-top {
    display: flex;
    margin: 40px 0 0;

    @media (max-width: 1100px) {
      flex-direction: column;
    }

    @media (max-width: 767px) {
      margin: 32px 0 0;
    }

    &__item {
      display: flex;

      &:not(:first-child) {
        margin: 0 0 0 110px;

        @media (max-width: 1100px) {
          margin: 32px 0 0;
        }
      }

      &:nth-child(1) {
        flex: 0 1 636px;
      }
      &:nth-child(2) {
        flex: 0 1 524px;
      }

      @media (max-width: 1100px) {
        flex: 0 0 auto !important;

        &:nth-child(2) {
          max-width: 525px;
        }
      }

      &-num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        flex: 0 0 auto;
        border-radius: 50%;
        border: 1px solid #131411;

        color: #131411;
        text-align: center;
        font-family: TT Norms;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;

        @media (max-width: 767px) {
          width: 36px;
          height: 36px;
          font-size: 12px;
          line-height: 16px;
        }
      }

      &-text {
        margin: 0 0 0 24px;

        color: #131411;
        font-family: TT Norms;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;

        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  &-slider {
    display: flex;
    margin: 80px 0 0;

    @media (max-width: 1100px) {
      flex-direction: column;
      padding: 0 25px;
    }

    @media (max-width: 767px) {
      margin: 60px 0 0;
      padding: 0;
    }

    &__text {
      @media (min-width: 1101px) {
        width: 100%;
        flex: 0 0 auto;
        transform: translate(-50%, 0);
      }

      .container {
        @media (min-width: 1101px) {
          height: 100%;
          display: flex;
          justify-content: flex-end;
        }

        @media (max-width: 1100px) {
          padding: 0;
          margin: 40px 0 0;
        }
      }

      &-content {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @media (min-width: 1101px) {
          justify-content: flex-end;
          width: calc(50% - 86px);
          height: 100%;
          @media (max-width: 1300px) {
            width: calc(50% - 30px);
          }
        }

        @media (max-width: 767px) {
          margin: 30px 0 0;
          padding: 0 20px;
        }

        .swiper-wrapper {
          height: auto;
        }
      }

      &-title {
        color: #131411;
        font-family: Cormorant Unicase;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 1px;
        text-transform: uppercase;

        p {
          &:not(:first-child) {
            margin: 8px 0 0;
          }
        }
      }

      &-text {
        max-width: 510px;

        @media (max-width: 1100px) {
          max-width: 100%;
          margin: 24px 0 0;
          padding: 0 20px 0 0;
        }
      }

      &-pagination {
        display: flex;
        margin: 48px 0 0;

        @media (max-width: 1100px) {
          margin: 38px 0 0;
        }

        span {
          height: 1px;
          width: 100%;
          max-width: 94px;
          border-radius: 0;
          background-color: rgba($color: #131411, $alpha: 0.2);
          transition: all 0.3s ease;
          opacity: 1;
          margin: 0;

          &:not(:first-child) {
            margin: 0 0 0 24px !important;

            @media (max-width: 767px) {
              max-width: 68px;
              margin: 0 0 0 16px !important;
            }
          }

          @media (max-width: 991px) {
            max-width: 86px;
          }

          @media (max-width: 767px) {
            max-width: 68px;
          }

          &.swiper-pagination-bullet-active {
            height: 2px;
            background-color: rgba($color: #131411, $alpha: 1);
          }
        }
      }
    }

    &__img {
      position: relative;
      overflow: hidden;

      &-nav {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #f6f6f6;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 44px;
        height: 44px;

        transition: all 0.3s ease;

        &:hover {
          background-color: #cdcdcd;
        }

        &.swiper-button-disabled {
          cursor: unset;
          background-color: #f6f6f6;
        }

        @media (max-width: 767px) {
          width: 36px;
          height: 36px;

          svg {
            flex: 0 0 auto;
            width: 15px;
            height: 15px;
          }
        }

        &_prev {
          left: 20px;

          @media (max-width: 767px) {
            left: 10px;
          }

          svg {
            transform: scale(-1, 1);
          }
        }
        &_next {
          right: 20px;

          @media (max-width: 767px) {
            right: 10px;
          }
        }
      }

      &-circle {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
        top: 0;
        pointer-events: none;

        img {
          object-fit: contain;
        }
      }

      // &::after {
      //   content: '';
      //   position: absolute;
      //   z-index: 1;
      //   top: 0;
      //   left: 338px;
      //   pointer-events: none;

      //   display: block;
      //   width: 748px;
      //   height: 748px;
      //   border-radius: 50%;
      //   border: 2px solid #f6f6f6;
      // }

      @media (min-width: 768px) {
        flex: 0 0 50%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
